fastapi
uvicorn
pydantic

langchain
langgraph
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters

chromadb
sentence-transformers

tavily-python
python-dotenv

httpx
rank_bm25